{% extends 'base.html.twig' %}

{% block body %}
{% include ('blank-menu.html.twig') %}
<div class="container-md medium-width mt-5">
	<div class="row">
        <h1 class="text-center">Register</h1>
    </div>
{{ form(form) }}
</div>
{% endblock %}