{% extends 'base.html.twig' %}
{% block body %}

{% include 'blank-menu.html.twig' %}

	<div class="container mt-5">
		<div class="row">
			<h1 class="text-center" >Edit task</h1>
		</div>
		<div class="row">
			{{ form(form) }}
			</div>
		</div>
	</div>
{% endblock %}