{% extends 'base.html.twig' %}

{% block body %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand mb-0 h1" href="{{ path('list.showAll') }}">TODO</a>

		</div>
	</nav>

	<div class="container mt-5">
		<div class="row">
			<h1 class="text-center" >Add new task</h1>
		</div>
		<div class="row">
			{{ form(form) }}
			</div>
		</div>
	</div>
{% endblock %}
